.button:hover{
    background: #f1f1f1;
    border-color: #016087;
    color: #016087;
}
.button{
    display: inline-block;
    text-decoration: none;
    font-size: 13px;
    line-height: 2.15384615;
    min-height: 30px;
    margin: 0;
    padding: 0 10px;
    cursor: pointer;
    border-width: 1px;
    border-style: solid;
    -webkit-appearance: none;
    border-radius: 3px;
    white-space: nowrap;
    box-sizing: border-box;
}
.profile-hover-button{
  font-size: .95em;
  padding: 3px 5px;
  opacity: 1;
  color: #2786c2;
  cursor:pointer;
}
.profile-hover-button:hover{
border: 0px solid #AAAAAA;
opacity: 1;
color: #2786C2;
}


form.CRM_Profile_Form_Edit .crm-section.form-item,form.CRM_Profile_Form_Edit fieldset{
    margin-top:15px;

}